@import "../../theme/variables.scss";

.meetupList {
  flex: 0 0 300px;
  width: 300px;
  overflow: auto;
  position: relative;
  border-top: 1px solid $gray-2;
  border-right: 1px solid $gray-2;

  .meetupListContent {
    padding-top: 40px;
  }

  .meetupListHeader {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    font-size: 1.7rem;
    position: fixed;
    width: inherit;
    border-right: 1px solid $gray-2;
    border-bottom: 1px solid $gray-2;
    background-color: $gray-1;
    box-shadow: 0 2px 8px -4px rgba(0,0,0,.3);

    .meetupListTitle {
      text-transform: uppercase;
    }

    :global(.fa-plus-circle) {
      float: left;
      position: relative;
      left: 10px;
      top: 4px;
    }

    :global(.fa-caret-down) {
      float: right;
      position: relative;
      right: 5px;
      top: 3px;
      font-weight: 600;
    }
  }
}